---
permalink: /index.html
---

{% extends "layouts/base.njk" %}

{% from "macros/blogpostCard.njk" import blogpostCard %}

{% set currentSection = "home" %}

{% block content %}

  <h1>Build tools are awesome</h1>
  {% for item in collections.blogposts  %}
    {% if loop.first %}<ul>{% endif %}
      <li>
        
        {{ blogpostCard({
          title: item.data.title,
          summary: item.data.summary,
          image: item.data.blogImage,
          alt: item.data.blogImageAlt,
          url: item.page.url
        }) }}

      </li>
    {% if loop.last %}</ul>{% endif %}
  {% endfor %}

{% endblock %}
 