// ===================================
// =variables
// ===================================

// default variable flag > can be overridden by non default ones
$breakpoints-map: (
  "medium": "all and (min-width: 750px)",
  "large": "all and (min-width: 1024px)",
  "xlarge": "all and (min-width: 1200px)",
) !default;

// ===================================
// =base classes
// ===================================

.l-grid {
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  gap: calc(24 / 16 * 1rem);
}

.l-grid--2cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--3cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--4cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.l-grid--5cols {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

// ===================================
// =responsive classes
// ===================================

@each $name, $query in $breakpoints-map {
  @media #{$query} {
    .l-grid--2cols\@#{$name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .l-grid--3cols\@#{$name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .l-grid--4cols\@#{$name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .l-grid--5cols\@#{$name} {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }
}

/*
@include breakpoint(medium) {
  .l-grid--2cols\@medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--4cols\@medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--5cols\@medium {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include breakpoint(large) {
  .l-grid--2cols\@large {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@large {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--4cols\@large {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--5cols\@large {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@include breakpoint(xlarge) {
  .l-grid--2cols\@xlarge {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--3cols\@xlarge {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--4cols\@xlarge {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }

  .l-grid--5cols\@xlarge {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}*/
